<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Inserir Request</title>
    <link rel="stylesheet" href="/static/style.css"> <!-- Caso você tenha um arquivo CSS para estilizar sua página -->
</head>
<body>
    <div class="container">
        <h1>Inserir Novo Request</h1>
        <form action="/" method="post">
            <label for="cdsid">CDSID:</label>
            <input type="text" id="cdsid" name="cdsid" required><br><br>
            
            <label for="FullName">Full Name:</label>
            <input type="text" id="FullName" name="FullName" required><br><br>
            
            <label for="RequestName">Request Name:</label>
            <input type="text" id="RequestName" name="RequestName" required><br><br>
            
            <button type="submit">Next Page</button>
        </form>
    </div>
</body>
</html>
